/* цвет основной + телефон в шапке #757575 */
/* цвет заголовков #212121 */
/* акцент #2196F3 */
/* белый #FFFFFF */
/* телефон, почта футер rgba(255, 255, 255, 0.6) */

:root {
  --primery-text-color: #757575;
  --title-text-color: #212121;
  --accent-text-color: #2196f3;
  --primary-white-color: #ffffff;
  --color-bg-child: #f5f4fa;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
/* Герой */

.section.hero {
  padding-top: 0;
  padding-bottom: 0;
  background-image: url(../img/hero/hero-img.jpg);
  background-size: cover;
}

.bg {
  background-color: rgba(47, 48, 58, 0.8);
}

.hero {
  background-color: rgb(198, 198, 199);
  text-align: center;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 46px;
  padding-top: 200px;

  color: var(--primary-white-color);

  text-transform: uppercase;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
}

.hero .button {
  display: inline-block;
  margin-bottom: 200px;
  min-width: 200px;
  padding: 10px 32px;
  text-align: center;

  color: var(--primary-white-color);
  background-color: var(--accent-text-color);
  border-radius: 4px;

  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}

/* Наши преимущества */

.section.advantage {
  border: 1px solid #ececec;
}

.advantage .img {
  display: block;
  /* margin-left: auto;
  margin-right: auto; */

  padding-top: 25px;
  padding-right: 100px;
  padding-bottom: 20px;
  padding-left: 100px;

  margin-bottom: 30px;
}

.advantage .list {
  display: flex;
}

.advantage .item {
  margin-right: 30px;
  width: calc((100% - 90px) / 4);
}

.advantage .item:nth-child(4n) {
  margin-right: 0;
}

.advantage .item:nth-child(4n) {
  margin-bottom: 0;
}

.section h2 {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.advantage-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.advantage p {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* Чем мы занимаемся */

.doing .list {
  display: flex;
}

.doing .item {
  margin-right: 30px;
  width: calc((100% - 60px) / 3);
  text-align: center;
}

.doing .item:nth-child(3n) {
  margin-right: 0;
}

.doing .item:nth-child(3n) {
  margin-bottom: 0;
}

.doing img {
  display: block; /* занимает местопо ширине родителя-блока, пропадает 4px снизу картинки */
}

.doing-text {
  margin: 0;
  padding: 27px;
  background: rgba(47, 48, 58, 0.8);
  border-radius: 0px 0px 4px 4px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--primary-white-color);
}

/* Наша команда */

.section.team {
  background-color: var(--color-bg-child);
}

.team .list {
  display: flex;
  justify-content: space-between;
}

.team img {
  display: block; /* занимает местопо ширине родителя-блока, пропадает 4px снизу картинки */
  margin-bottom: 30px;
}

.team .item {
  background-color: var(--primary-white-color);
  border-radius: 4px;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
}

.team-title {
  margin-top: 0;

  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  text-align: center;
}

.team-position {
  margin: 0;
  margin-bottom: 28px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--primery-text-color);
}

.team .list.icon {
  justify-content: space-evenly;
}

.team .list .svg:hover {
  filter: invert(39%) sepia(57%) saturate(200%) saturate(200%) saturate(200%)
    saturate(200%) saturate(200%) saturate(147.75%) hue-rotate(202deg)
    brightness(97%) contrast(96%);
}

/* Постоянные клиенты */
.customer .list {
  display: flex;
  justify-content: space-evenly;
}

.customer li {
  margin-right: 30px;
  width: calc((100% - 60px) / 6);
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
}

.customer li:nth-child(6n) {
  margin-right: 0;
}
.customer .img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.customer .img:hover {
  filter: invert(39%) sepia(57%) saturate(200%) saturate(200%) saturate(200%)
    saturate(200%) saturate(200%) saturate(147.75%) hue-rotate(202deg)
    brightness(97%) contrast(96%);
}

.customer li:hover,
.customer li:focus {
  border: 1px solid var(--accent-text-color);
}
