.projects-item > .link {
  display: block;
}

.projects img {
  margin-bottom: 20px;
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 5px 5px 0px 0px;
}

.title-primary {
  margin-top: 0;
  margin-bottom: 0;
  color: white;
}

.projects .list.container-btn {
  display: flex;
  justify-content: center;
  padding-top: 94px;
  margin-bottom: 50px;
  text-align: center;
}

.button:hover,
.button:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-text-color);
}

.container-btn li {
  margin-right: 8px;
}
/* width: 130px;
  height: 38px; */

.button {
  padding: 6px 22px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;

  border: transparent;
  border-radius: 4px;
  color: var(--title-text-color);
  background: #f5f4fa;
}

.container-btn li:nth-child(5n) {
  margin-right: 0;
}

.title-projects {
  margin-top: 0;
  margin-bottom: 4px;

  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  padding-left: 24px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.text {
  margin-top: 0;
  margin-bottom: 20px;

  font-weight: 400;
  font-size: 16px;
  padding-left: 24px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

.text-projects {
  margin-top: 0;
  margin-bottom: 0;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.87;
  letter-spacing: 0.03em;

  display: none;
}

/* выстраиваем элементы в сетку 3*3 */

.projects .list.cards {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 94px;
}

.projects-item {
  margin-right: 30px;
  margin-bottom: 30px;
  width: calc((100% - 60px) / 3);
  /* 100% ширины родителя минус margin между колонками (30px*) делим на 3 колонки */

  border: 1px solid #eeeeee;
  border-radius: 5px;
}

.projects-item:nth-child(3n) {
  margin-right: 0;
}

.projects-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

/* Альтернативный вариант - всем кроме третьего задать отступ (справа/снизу) 30px */

/* .projects-item:not(:nth-child(3n)) {
  margin-right: 30px;
} */

/* .projects-item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
} */
